* {
  box-sizing: border-box;
  font-family: "Roboto";
}
* ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: #f8ede3;
  color: #072227;
}

h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h6 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.contain {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  padding: 0 50px;
}

.active {
  border: 2px solid #072227;
  box-shadow: 5px 5px 15px 5px rgba(7, 34, 39, 0.5);
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
}
.header .logo {
  display: flex;
}
.header .logo__img {
  float: left;
  background-color: #a2b29f;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.header .logo-text {
  padding-left: 16px;
}
.header .search__input {
  border-radius: 0.25rem;
  background-color: #f8ede3;
  padding: 0.5rem;
  border: 2px solid #a2b29f;
}

.content-wrapper {
  display: flex;
}

.left_menu {
  flex: 0 1 20%;
}
.left_menu .menu {
  background-color: #a2b29f;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.left_menu .menu__item {
  background-color: #f8ede3;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 0 1rem;
  text-align: center;
  cursor: pointer;
}

.cards-wrapper {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 0 1rem;
}

.cards-wrapper__card {
  flex: 0 1 300px;
  background-color: #bdd2b6;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
}
.cards-wrapper__card h4 {
  display: none;
}

.cards-wrapper__card_more-info h4 {
  display: block;
}

.nav-buttom {
  margin-top: 1rem;
}
.nav-buttom ul {
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  background-color: #a2b29f;
  padding: 0.5rem;
}
.nav-buttom ul li {
  margin: 0 0.25rem;
  background-color: #f8ede3;
  padding: 0.15rem;
  border-radius: 0.25rem;
  cursor: pointer;
}